header {
    display: flex;
    justify-content: center;
    color: darkorange;
    font-family: 'Pacifico', cursive;
    
}
nav {
    display: flex;
    justify-content: space-around;
    }
nav a{
    text-decoration: none;
    color: rgb(79, 14, 231);
}
main {
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    height: 300px;
}
footer{
    margin: 5px;
    display: flex;
    justify-content: space-around;
}
button {
height: 20px;
border-radius: 12px;
background-color: white;
color: black;
border: 2px solid red; 


}
.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
}
p {
    display: flex;
    justify-content: space-around;
    
}
.chat_const {
    display: flex;
    flex-direction: column;
}
